
<html>
  <head>
    <title>Login | Dating voor serieuse</title>
  </head>
  <body>
    <header><a href="index.html">Dating voor serieuse</a><a href="registreer.html">Registreer</a></header>
    <figure><img src="https://placeholdit.imgix.net/~text?w=350&amp;amp;h=350" alt="Achtergrond"/></figure>
    <main>
      <form action="dashboard.html">
        <label>
          <Emailadres></Emailadres>
          <input type="email"/>
        </label>
        <label>
          <Wachtwoord></Wachtwoord>
          <input type="password"/>
        </label><a href="wachtwoord-vergeten.html">Wachtwoord vergeten?</a>
        <input type="submit" value="Login"/>
      </form>
    </main>
  </body>
</html>
