include ../header.pug
figure
  img(src="https://placeholdit.imgix.net/~text?w=350&amp;h=350" alt="Achtergrond")
main
  h1 Uw nieuwe wachtwoord is verzonden naar u email adres
  a(href="/account") Terug naar login
include ../footer.pug
